{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}/AskPupkin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen" type="text/css">
    <style>
        .question {
            border: solid 1px lightgray;
            margin-bottom: 30px;
            padding-bottom: 10px;
        }
        .imglike {
            padding-top: 10px;
            padding-left: 10px;
        }
        .warning {
            margin: 0 0;
            margin-top: 5px;
        }
    </style>
  </head>
  <body>

	<div class="navbar">
 		<div class="navbar-inner">
    		<a class="brand" href="/">AskPupkin</a>
			<form class="navbar-search form-search">
                <div class="input-append">
  				    <input type="text" class="search-query" placeholder="Search">
                    <button type="submit" class="btn">Find!</button>
                </div>
			</form>
            {% include "userblock.html" %}
            <a href="{% url 'asking.views.ask' %}?next={{ request.path }}" class="btn pull-right">Ask!</a>
  		</div>
	</div>    
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span8">
				{% block content %}{% endblock %}
			</div>
			<div class="span3 offset1">
				<h3>Popular Tags</h3>
					<a href="#">best</a>
					<a href="#">Lucky</a>
					<a href="#">lol</a>
					<a href="#">Funny</a>
				<h3>Best Members</h3>
					<ul>
						<li><a href="#">Lesha</a></li>
                        <li><a href="#">Saha</a></li>
                        <li><a href="#">Dasha</a></li>
                        <li><a href="#">Pashqa</a></li>
                        <li><a href="#">Natali</a></li>
					</ul>
			</div>
		</div>
	</div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/askjs.js" %}"></script>
  </body>
</html>
