{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
    <fieldset>
        <legend>Log In</legend>

        {% if form.non_field_errors %}
            <div class="control-group alert">{{ form.non_field_errors }}</div>
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="id_username">Login</label>
            <div class="controls">
                <input type="text" id="id_username" name="username" placeholder="Enter you login here">
            </div>
        </div>
        {% if form.username.errors %}
            <div class="controls alert">{{ form.username.errors }}</div>
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="id_password">Password</label>
            <div class="controls">
                <input type="password" id="id_password" name="password" placeholder="Password">
            </div>
        </div>
        {% if form.password.errors %}
            <div class="controls alert">{{ form.password.errors }}</div>
        {% endif %}
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Log In!" class="btn"/>
                <input type="hidden" name="next" value="{{ '/' }}" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a href="../signup/">Create new account</a>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
