{% extends "base.html" %}

{% block title %}Settings{% endblock %}
                                                                                                    
{% block content %}
<form class="form-horizontal" enctype="multipart/form-data" method="post" action="">
    {% csrf_token %}
    <fieldset>
        <legend>Settings</legend>
        {% if form.non_field_errors %}
            <div class="control-group alert">{{ form.non_field_errors }}</div>
        {% endif %}
        {% for field in form %}
            <div class="control-group">
                <label class="control-label" for="inputLogin">{{ field.label }}</label>
                <div class="controls"><input type=""></div>
            </div>
            {% if field.errors %}
                <div class="controls alert">{{ field.errors }}</div>
            {% endif %}
        {% endfor %}
        <div class="form-action">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Change</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
